$backgroundcolor:#DEE2E6;
$secondcolor:pink;
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    color:black;
    padding: 25px 60px;
}
.shousai{
    display:flex;
    // justify-content: space-around;
    gap: 10px;
    align-items: baseline;
    i{
        // align-self:
    }
}

body{
    background-color:#DEE2E6;
}
//カートと赤い数字はもう隠すことにする

i{
    font-size: 40px;
}
.cart{
    position: relative;
    // display: flex;
    background-color:aqua;
    color: black;
    font-size: 30px;
    padding:5px;
    border-radius: 3px;
  
    

}

h1{
    color: blue;
    font-size: 60px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.shop{
    // display: flex;
    display: grid;
    grid-template-columns: repeat(5,223px);
    gap: 30px;
    justify-content: center;
}

.products{
    // justify-content:;
    padding-top:60px;
}

.item{
    border:3px solid gray;
    border-radius: 4px;
}

.details{
    display:flex;
    flex-direction: column;
    padding:10px;
    gap: 10px;
}

.price-quantity{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap:8px;
    font-size: 16px;;
}

.cartAmount{
   
    position: absolute;
    top: -15px;
    right: -10px;
    font-size:16px;
    background-color:red;
    color: white;
    font-size: 16px;
    padding: 3px;
    border-radius: 3px;

}

img{
    width:200px;
    height:230px;
}

item-container.div{
    width:20px;
    height:30px;
}

h6{
    color: aqua;
}

.navbar{
    height:100px;
}
.cart-container{
    background-color: pink;
}
#cartItem{
    background-color: pink;
}

button{
    border: none;
    font-size: 19px;
    color: white;
    font-family:serif;
    background-color:aqua;
    border-radius: 7px;
    width:120px;
}
#total,#total-quantity,#Okaikei,#cartItem, .bgc{
    background-color: pink;
}

#total{
    margin-top: 0;
    padding-top: 30px;
}

#cartItem{
    padding-top: 30px;
    padding-left:30px ;
    padding-right:30px ;
}
.bgc{
    padding-bottom: 30px;
    border-radius: 20px;
}

